<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Link to Post" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>The link to our markdown post</strong></h1>
        <p class="text-secondary"><a href="https://lovemydogs.github.io/Timeline/group/2022/09/25/groupwork-post.html">Post</a></p>
{% endblock %}

{% block background %}
{% endblock %}
